.container {
  margin-top: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container2 {
  margin-top: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container3 {
  margin-top: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  font-weight: bold;
}

.stretch {
  margin-left: -60%;
  margin-right: -60%;
  margin-top: 3%;
  margin-bottom: 3%;
  font-size: small;
  font-weight: bold;
}

.greenbox {
  background-color: #81d8cf;
  width: 100%;
  margin-top: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rabbit {
  margin-top: 3%;
  margin-bottom: 3%;
}
